.legend {
  grid-area: legend;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  gap: 0.25rem;
  .title {
    font-size: var(--font-size-legend-title);
    margin: 0 0.5em;
  }
  .cross-state {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .items {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    gap: 0.4rem;
  }
}

[data-legend-position='right'] .legend,
.legend {
  align-self: start;
}

[data-legend-position='top'] .legend {
  justify-self: end;
}

[data-legend-position='left'] .legend .items,
[data-legend-position='right'] .legend .items,
.legend.vertical .items,
.legend .items {
  flex-direction: column;
}

[data-legend-position='top'] .legend .items,
[data-legend-position='bottom'] .legend .items,
.legend.horizontal .items {
  flex-direction: row;
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6em;
  //width: 100%;
  font-size: var(--font-size-legend-label);
  --fit-height: false;
  &:active {
    font-weight: bold;
  }
  .text {
    //--fit-height: false;
  }
  .symbol {
    stroke: #000;
    stroke-width: 1px;
    width: 1em;
    height: 1em;
  }

  //.label {
  //  dominant-baseline: central;
  //}
}

//.label.highlight, .legend-item.highlight {
//  font-size: 1.4em;
//}

.highlight.legend-item .symbol {
  filter: brightness(var(--highlight-brightness));
}
