#tooltip-rv {
  display: grid;
  opacity: 0;
  background-color: var(--control-elements-chart-color2);
  border: var(--control-elements-chart-color3) solid 1px;
  border-radius: 0.3125rem;
  padding: 0.5em;
  position: fixed;
  pointer-events: none;
  font-size: var(--font-size-tooltip-label);
  .item {
    display: grid;
    h3 {
      grid-area: 1 / 1;
      font-weight: normal;
      font-size: var(--font-size-tooltip-label);
    }
  }
  &.tooltip-position-sticky {
    /*based on: https://css-tricks.com/the-css-custom-property-toggle-trick/*/
    --place-left: initial;
    --left-offset: 0;
    --left-offset-applied: var(--place-left) var(--left-offset);
    --place-right: initial;
    --right-offset: 0;
    --right-offset-applied: var(--place-right) var(--right-offset);
    --place-top: initial;
    --top-offset: 0;
    --top-offset-applied: var(--place-top) var(--top-offset);
    --place-bottom: initial;
    --bottom-offset: 0;
    --bottom-offset-applied: var(--place-bottom) var(--bottom-offset);
    left: var(--left-offset-applied, unset);
    right: var(--right-offset-applied, unset);
    top: var(--top-offset-applied, unset);
    bottom: var(--bottom-offset-applied, unset);
  }
}

#tooltip-rv.tooltip--visible {
  opacity: 1;
}
