.chart.chart-parcoord {
  .padding-wrapper { //.draw-area
    display: grid;
    grid-area: padding-wrapper;
    grid-template: 1fr / 1fr;
    grid-template-areas: 'draw-area';
    padding: 3rem;
    overflow: hidden;
    .draw-area {
      overflow: visible
    }
  }
  .axis.axis-sequence {
    position: relative;
    .title-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      --fit-width: true;
      --fit-height: true;
      .title, .subtitle, .axis-inverter {
        --fit-width: true;
        --fit-height: true;
      }
    }
    div.title-wrapper {
      position: absolute;
      bottom: 100%;
      translate: -50% -30%;
      column-gap: 0.25em;
    }

    .ticks-transform {
      grid-area: ticks-transform;
    }
  }
}
