.chart-cartesian, .chart-cartesian[data-legend-position='right'] {
  grid-template: auto 1fr / 1fr auto;
  grid-template-areas:
      'header header'
      'padding-wrapper legend';

  .padding-wrapper { //.draw-area
    display: grid;
    grid-area: padding-wrapper;
    grid-template: 1fr auto / auto 1fr;
    grid-template-areas:
    'axis-left draw-area'
    '. axis-bottom';
    overflow: visible;
    //.draw-area {
    //  display: grid;
    //  width: 100%;
    //}
  }
}

.chart-cartesian[data-legend-position='top'] {
  grid-template: auto auto 1fr / 1fr;
  grid-template-areas:
      'header'
      'legend'
      'padding-wrapper';
}

