.chart.chart-parcoord {
  .padding-wrapper { //.draw-area
    display: grid;
    grid-area: padding-wrapper;
    grid-template: 1fr / 1fr;
    grid-template-areas: 'draw-area';
    padding: 3rem;
    overflow: hidden;
    .draw-area {
      overflow: visible
    }
  }
  .axis.axis-sequence {
    position: relative;

    .axis-inverter, .rotation-group {
      transform-origin: center;
      transform-box: fill-box;
    }
    .rotation-group {
      transition: transform 500ms;
      transform: rotate(0deg);
    }

    &.axis-inverted .axis-inverter .rotation-group {
      transform: rotate(180deg);
    }

    .title, .subtitle {
      --fit-width: true;
      --fit-height: true;
    }

    .axis-inverter {
      width: 12px;
      height: 15px;
    }

    .title-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    div.title-wrapper {
      position: absolute;
      bottom: 100%;
      translate: -50% -30%;
      width: min-content;
    }

    .ticks-transform {
      grid-area: ticks-transform;
    }
  }

  .axis.axis-sequence.axis-bottom {
    .title-wrapper .axis-inverter { display: none; }
    //.axis-inverter {
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //}
  }
}
