.chart-cartesian {
  .axis {
    display: grid;
  }

  .axis-left, .axis-right {
    grid-template-areas: 'title-wrapper ticks';
    grid-template-columns: auto auto;

    .title-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      text {
        transform-box: fill-box;
        transform-origin: center;
        transform: rotate(-90deg);
      }
    }

    .ticks-transform {
      --fit-width: true;
    }
  }

  .axis-right {
    grid-template-areas: 'ticks title-wrapper';

    .title-wrapper {
      .subtitle { order: 1;}
      .title { order: 2;}
      text {
        transform: rotate(90deg);
      }
    }
  }


  .axis-bottom, .axis-top {
    grid-template-areas: 'ticks' 'title-wrapper';
    grid-template-rows: auto auto;

    .title .text, .subtitle .text {
      margin: 0 auto;
    }

    .ticks-transform {
      --fit-height: true;
    }
  }

  .axis-top {
    grid-template-areas: 'title-wrapper' 'ticks';
  }
}
