#chart {
  width: calc(100% - 1.5rem);
  height: 75vh;
  min-height: 25rem;
  container-type: inline-size;

  @container (width < 25rem) {
    .toolbar {
      position: static;
    }
  }

  @container (width < 30rem) {
    .window-rv {
      --chart-padding-right: 4rem;
    }
  }
  @container (width >= 30rem) {
    .window-rv {
      --chart-padding-top: 1rem;
      --chart-padding-right: 1px;
    }
  }
}
