#chart {
  width: calc(100% - 1.5rem);
  height: 75vh;
  min-height: 25rem;
  & svg.chart {
    --chart-padding-top: 1rem;
    --chart-padding-right: 4rem;
  }
  .padding-wrapper {
    padding-top: 3rem;
  }
  .draw-area {
    overflow: visible;
  }
}
