.window-rv {
  dialog {
    opacity: 0;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    max-height: 50vh;
    overflow-y: auto;
    visibility: hidden;
    transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;

    &[transition="enter"], &[transition="exit"][transition-state="enter-done"] {
      visibility: visible;
    }

    &.dialog--side {
      position: absolute;
      width: 50%;
      right: 0;
      inset-inline-start: unset;
      margin: 0;
      padding: 0.5em;
      translate: 0 -1rem;
      &[transition='enter'] {
        opacity: 1;
        translate: 0 0;
      }
      > .item + .item, > .item + button  { margin-top: 0.5em }
    }

    &.dialog--center {
      display: grid;
      grid-template-columns: auto 1fr;
      max-width: 50vw;
      translate: 0 -1rem;
      padding: 1.5em;
      gap: 0.5em;
      &[transition='enter'] {
        opacity: 1;
        translate: 0 0;
      }
      > .item { grid-column: 1 / -1; }
      button {
        justify-self: flex-start;
        width: fit-content;
      }
    }

    &.dialog--filter {
      width: min-content;
      .collapsable-wrapper, .collapsable, label { width: min-content }
      .collapsable-opener {
        span:nth-of-type(2) { white-space: nowrap }
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      .item--decimal-options { flex-direction: row; }
      legend {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
        width: 100%;
        .active input { margin: 0; }
      }
      label {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      input {
        margin-right: 0.5em;
      }
      input[type='number'] {
        width: 4ch;
      }
    }
  }

  .collapsable-opener {
    user-select: none;
    .collapse-icon {
      margin-left: auto;
    }
    svg {
      min-width: 1.2em;
      height: auto;
      transition: rotate 600ms ease-in-out, transform 80ms ease-in-out;
    }
    &:has(+ .expanded) svg {
      rotate: 180deg;
    }
    &:has(.text:active, .collapse-icon:active) svg {
      transform: scale(0.9);
    }
  }

  .collapsable-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
    &.expanded { grid-template-rows: 1fr; }
    .collapsable {
      overflow: hidden;
    }
  }

}

@media screen and (max-width: 50rem) {
  .window-rv dialog.dialog--center {
    max-width: 98vw;
  }
}
