.element.bar {
  stroke-width: 1;
  stroke: var(--color-bar-stroke);
  stroke-opacity: var(--bar-stroke-opacity);
}

.highlight .bar,
.highlight.bar,
.highlight .point,
.highlight.point {
  filter: brightness(var(--highlight-brightness));
  stroke-width: 1.2;
}
