path.line {
  fill: none;
  stroke-width: calc(2 * var(--px-in-rem));
  &.animated {
    stroke-width: 0;
    transition: stroke-width calc(var(--transition-time-line-enter-ms) * 1ms),
    filter calc(var(--transition-time-line-enter-ms) * 1ms);
    &.entering, &.enter-done {
      stroke-width: calc(2 * var(--px-in-rem));
      &.highlight {
        stroke-width: calc(4 * var(--px-in-rem));
        filter: brightness(var(--highlight-brightness));
      }
    }
  }

  &.line--origin {
    stroke: var(--color-origin-line);
    stroke-width: calc(1 * var(--px-in-rem));
  }
  &.line--grid {
    stroke: var(--color-grid-line);
    stroke-width: calc(0.5 * var(--px-in-rem));
  }
}

.highlight path.line:not(.exiting, .exit-done),
path.line.highlight:not(.exiting, .exit-done) {
  stroke-width: calc(4 * var(--px-in-rem));
}
