#market-shares-chart {
  width: 100%;
  .chart {
    width: 100%;
    grid-template: auto auto 1fr auto / auto 1fr auto;
    grid-template-areas: 'header  header  header' 'legend legend legend' 'axis-left draw-area draw-area' ' . axis-bottom . ';
  }

  .legend {
    .items {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
  }
}

@media (max-width: 51.9375rem) {
  #market-shares-chart {
    .chart {
      grid-template: auto 1fr auto / auto 1fr auto;
      grid-template-areas:
                    'header  header    header'
                    'axis-left draw-area   legend'
                    '.     axis-bottom .   ';
    }
    .legend {
      align-items: center;
      .items {
        display: flex;
        flex-direction: column;
        width: auto;
      }
    }
  }
}

@media (max-width: 40rem) {
  #market-shares-chart {


    .axis-y .tick:nth-of-type(2n) {
      display: none;
    }
  }

}

@media (max-width: 25rem) {
  #market-shares-chart {
    .point, .axis {
      display: none;
    }

    //.point:first-of-type, .point:last-of-type {
    //  display: block;
    //}
  }
}
