.scatterplot-reusable {
  width: 100%;
  height: 75vh;
  min-height: 25rem;
}

#scatterplot-reusable-wide-0 .chart-window {
  --font-size-base: 1.5rem;
  --layout-width-factor: 1;
  --layout-width-offset-factor: 0;
}
