#sold-cars-germany {
  width: 100%;
}

.chart-window {
  container-type: inline-size;
  --transform-factor-base: 1;
  --transform-factor-width: var(--transform-factor-base);
  --transform-factor-width-offset: 0;
  --transform-factor-height: var(--transform-factor-base);
  --transform-factor-height-offset: 0;

  --transform-index: wide-0;

  //Legend To Bottom
  @container style(--transform-index: wide-3) {
    .chart {
      grid-template: auto 1fr auto auto / auto 1fr auto;
      grid-template-areas:
          'header  header  header'
          'axis-left draw-area draw-area'
          ' . axis-bottom . '
          ' legend legend .';
    }

    .legend {
      width: 100%;
      margin-bottom: 2rem;
      margin-left: 0.5rem;
      flex-direction: row;
      justify-content: center;
      .items {
        display: grid;
        width: 100%;
        justify-content: space-between;
        grid-template-columns: auto auto auto;
        .legend-item {
          justify-content: flex-start;
        }
      }
    }
    .axis-y .tick {
      display: none;
      &:nth-of-type(2n + 1), &:first-of-type, &:last-of-type {
        display: block;
      }
    }
  }
  //@container style(--transform-index: wide-3) {

  @container style(--transform-index: wide-2) or style(--transform-index: wide-3) {
    .axis-x .tick {
      display: none;
      &:nth-of-type(2n), &:first-of-type, &:last-of-type {
        display: block;
      }
    }
  }
}

