#sold-cars-germany {
  width: 100%;
}

.chart-window {
  container-type: inline-size;
}
@container style(--layout-width: 0) or style(--layout-width: 1) or style(--layout-width: 2) {
  .chart-window .chart {
    grid-template: auto 1fr auto auto/auto 1fr auto;
    grid-template-areas: "header  header  header" "axis-left draw-area draw-area" " . axis-bottom . " " legend legend .";
  }
  .chart-window .legend {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    flex-direction: row;
    justify-content: center;
  }
  .chart-window .legend .items {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
  }
  .chart-window .legend .items .legend-item {
    justify-content: flex-start;
  }
  .chart-window .axis-y .tick {
    display: none;
  }
  .chart-window .axis-y .tick:nth-of-type(2n + 1), .chart-window .axis-y .tick:first-of-type, .chart-window .axis-y .tick:last-of-type {
    display: block;
  }
}
@container style(--layout-width: 0) or style(--layout-width: 1) {
  .chart-window .axis-x .tick {
    display: none;
  }
  .chart-window .axis-x .tick:nth-of-type(2n), .chart-window .axis-x .tick:first-of-type, .chart-window .axis-x .tick:last-of-type {
    display: block;
  }
}