.chart {
  display: grid;
  grid-template: auto 1fr / 1fr auto;
  grid-template-areas:
      'header header'
      'padding-wrapper legend';
}

@media (hover: none) {
  .chart {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
}
