.header {
  grid-area: header;
}

.padding-wrapper {
  grid-area: padding-wrapper;
}

.draw-area {
  grid-area: draw-area;
}

.padding-container--left {
  grid-area: padding-container--left;
}

.padding-container--top {
  grid-area: padding-container--top;
}

.padding-container--right {
  grid-area: padding-container--right;
}

.padding-container--bottom {
  grid-area: padding-container--bottom;
}

.axis-left {
  grid-area: axis-left;
}

.axis-top {
  grid-area: axis-top;
}

.axis-right {
  grid-area: axis-right;
}

.axis-bottom {
  grid-area: axis-bottom;
}
