.layouter {
  display: grid;
  position: relative;

  & > * {
    grid-area: 1 / 1;
  }
  & > :not(.layout) {
    position: absolute;
    /* padding and margin are not ignored on root svg elements so they need to
    be set to 0 to not apply them twice (1x by layouter, 1x by browser) */
    padding: 0;
    margin: 0;
  }
}

.layout {
  --fit-width: false;
  --fit-height: false;
  pointer-events: none;
}

.draw-area {
  display: grid;
}
.draw-area > * {
  grid-area: 1 / 1;
}

.window-rv {
  .layouter {
    grid-area: chart;
  }
  .background {
    opacity: 0;
    grid-area: 1 / 1;
  }
}
