.chart-cartesian, .chart-cartesian[data-legend-position='right'] {
  .padding-wrapper {
    display: grid;
    grid-template: auto auto 1fr auto auto / auto auto 1fr auto auto;
    grid-template-areas:
    '. . axis-top . .'
    '. . padding-container--top . .'
    'axis-left padding-container--left draw-area padding-container--right axis-right'
    '. . padding-container--bottom . .'
    '. . axis-bottom . .';
  }
  .axis.axis-left {
    .ticks-transform {
      margin-left: 0.5em;
      .ticks { margin-left: 100%; }
    }
  }
  .axis.axis-bottom {
    .ticks-transform {
      margin-bottom: 0.5em;
    }
  }
  .axis.axis-top {
    position: relative;
    .ticks-transform {

      .ticks {
        position: absolute;
        top: 100%;
        left: 0;
        /*translate: 0 100%;*/
      }
    }
  }
}

/*.chart-cartesian[data-legend-position='top'] {*/
/*  grid-template: auto auto 1fr / 1fr;*/
/*  grid-template-areas:*/
/*      'header'*/
/*      'legend'*/
/*      'padding-wrapper';*/
/*}*/

