.chart-cartesian, .chart-cartesian[data-legend-position='right'] {
  .padding-wrapper {
    display: grid;
    grid-template: auto auto 1fr auto auto / auto auto 1fr auto auto;
    grid-template-areas:
    '. . axis-top . .'
    '. . padding-container--top . .'
    'axis-left padding-container--left draw-area padding-container--right axis-right'
    '. . padding-container--bottom . .'
    '. . axis-bottom . .';
  }
}

/*.chart-cartesian[data-legend-position='top'] {*/
/*  grid-template: auto auto 1fr / 1fr;*/
/*  grid-template-areas:*/
/*      'header'*/
/*      'legend'*/
/*      'padding-wrapper';*/
/*}*/

