.chart-cartesian, .chart-cartesian[data-legend-position='right'] {
  .padding-wrapper {
    display: grid;
    grid-area: padding-wrapper;
    grid-template: 1fr auto / auto 1fr;
    grid-template-areas:
    'axis-left draw-area'
    '. axis-bottom';
    overflow: visible;
  }
}

.chart-cartesian[data-legend-position='top'] {
  grid-template: auto auto 1fr / 1fr;
  grid-template-areas:
      'header'
      'legend'
      'padding-wrapper';
}

