path.line {
  fill: none;
  stroke-width: 2;
  &.line--origin {
    stroke: var(--color-origin-line);
    stroke-width: 1;
  }
  &.line--grid {
    stroke: var(--color-grid-line);
    stroke-width: 0.5;
  }
}

.highlight path.line,
path.line.highlight {
  stroke-width: 4;
}
