#chart {
  width: 100%;
  height: 75vh;
  min-height: 25rem;
  //.draw-area {
  //  //overflow: visible;
  //  .series-point {
  //    overflow: visible;
  //  }
  //}
  .legend {
    align-items: flex-start;
    .title {
      margin: 0;
    }
  }
}

body {
  background-color: floralwhite;
}

.tick {
  display: none;
}

.tick:nth-of-type(2n + 1) {
  display: block;
}

@media (min-width: 60rem) {
  .tick {
    display: block;
  }
}
