.title-wrapper {
  grid-area: title-wrapper;
}

.ticks-transform {
  grid-area: ticks;
}

.axis {
  .title {
    .text { grid-area: title; }
    text { font-size: var(--font-size-axis-title); }
  }

  .subtitle text {
    font-size: var(--font-size-axis-subtitle);
  }

  .domain {
    stroke: var(--color-axes-line);
    stroke-width: var(--axis-stroke-width, 1px);
    fill: none;
  }

  .tick {
    line {
      stroke: var(--color-axes-line);
      stroke-width: var(--axis-stroke-width, 1px);
    }

    text {
      font-size: var(--font-size-axis-label);
    }
  }
}
