.legend {
  grid-area: legend;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  cursor: default;
  gap: 0.25rem;
  --max-radius: 0;
  --min-radius: 0;
  .title {
    font-size: var(--font-size-legend-title);
    margin: 0 0.5em;
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  &:has(.legend__color-scale, .legend__radius-scale) {
    padding-right: max(1rem, var(--max-radius, 0));
    padding-left: max(1rem, var(--min-radius, 0));
  }
  .items + .legend__color-scale {
    margin-top: 1rem;
  }
  .legend__color-scale {
    display: grid;
    grid-template: auto auto / auto;
    grid-template-areas:
      'color-scale'
      'axis';
    width: 100%;
    .rect {
      grid-area: color-scale;
      height: calc(1.6 * var(--font-size-axis-title));
      width: 100%;
    }
    .axis {
      grid-area: axis;
    }
  }
  .legend__radius-scale {
    display: grid;
    grid-template: auto auto / auto;
    grid-template-areas:
      'elements'
      'axis';
    width: 100%;
    .elements {
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-area: elements;
      height: calc(1rem + 2 * var(--max-radius));
      width: 100%;
      min-width: calc(calc(1rem + 2 * var(--max-radius)) + 2 * var(--min-radius));
      .point {
        --fit-height: true;
        --fit-width: true;
        fill: none;
      }
    }
    .axis {
      grid-area: axis;
    }
  }
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6em;
  font-size: var(--font-size-legend-label);
  --fit-height: false;
  &:active {
    font-weight: bold;
  }
  .symbol {
    stroke: #000;
    stroke-width: 1px;
    width: 1em;
    height: 1em;
  }
}

.highlight.legend-item .symbol {
  filter: brightness(var(--highlight-brightness));
}
