.scatterplot-reusable {
  width: 100%;
  height: 75vh;
  min-height: 25rem;
}

#scatterplot-reusable-wide-0 .window-rv {
/*//--font-size-base: 1.5rem;*/
/*//--font-size-legend-label: 1.5rem;*/
  --font-size-element-label: 1rem;
  --font-size-axis-label: 1rem;
  --font-size-axis-title: 1.4rem;
  --font-size-title: 1.7rem;
  --layout-width-factor: 1;
  --layout-width-offset-factor: 0;
}
