#electric-power-consumption-chart {
  .window-rv {
    container-type: inline-size;
    --chart-padding-left: 0.5rem;
    --chart-padding-right: 0.5rem;
    .layouter {width: 100%}
    .point, .axis-x .tick, .axis-y .tick, .series-label .label {
      display: none;
    }
    .point:first-of-type, .point:last-of-type, .point:nth-of-type(5n), .axis-x .tick:nth-of-type(5n), .axis-y .tick:nth-of-type(2n) {
      display: block;
    }

    @container (max-width: 41.25rem) {
      .chart {
        grid-template: auto auto 1fr / 1fr;
        grid-template-areas:
      'header'
      'legend'
      'padding-wrapper';
      }
      .legend-item {
        margin-top: 1rem;
      }
      .legend {
        margin: 0;
        margin-bottom: 1rem;
      }
      .legend .items {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

    @container (max-width: 23.75rem) {
      .point, .axis {
        display: none;
      }

      .point:first-of-type, .point:last-of-type {
        display: block;
      }
    }

  }
}
