.axis {
  .title text { font-size: var(--font-size-axis-title); }
  .subtitle text { font-size: var(--font-size-axis-subtitle); }
  .domain {
    stroke: var(--color-axes-line);
    fill: none;
  }
  .tick {
    line { stroke: var(--color-axes-line); }
    text { font-size: var(--font-size-axis-label); }
  }
}

.chart-cartesian {
  .axis {
    display: grid;
    .title-wrapper { grid-area: title-wrapper; }
    .ticks-transform { grid-area: ticks; }
  }

  .axis-left, .axis-right {
    grid-template-areas: 'title-wrapper ticks';
    grid-template-columns: auto auto;
    .title-wrapper {
      display: flex;
      align-items: center;
      text {
        text-anchor: end;
        transform: rotate(-90deg);
      }
    }
    .ticks-transform { --fit-width: true; }
  }

  .axis-right {
    grid-template-areas: 'ticks title-wrapper';
    .title-wrapper {
      text {
        transform: rotate(90deg);
      }
    }
  }


  .axis-bottom, .axis-top {
    grid-template-areas: 'ticks' 'title-wrapper';
    grid-template-rows: auto auto;
    .title .text, .subtitle .text { margin: 0 auto; }
    .ticks-transform {
      --fit-height: true;
    }
  }

  .axis-top {
    grid-template-areas: 'title-wrapper' 'ticks';
  }
}
