.slider-rect {
  fill: var(--control-elements-chart-color1);
  fill-opacity: var(--control-elements-chart-color1-opacity-40);
  &:active {
    filter: brightness(150%);
  }
}

.slider-up, .slider-down {
  & path {
    fill: var(--control-elements-chart-color1);
    stroke: var(--control-elements-chart-color3);
  }
  &:active { filter: brightness(150%); }
}

.axis-inverter {
  width: 12px;
  height: 15px;
  & path {
    stroke: var(--control-elements-chart-color3);
    stroke-width: 2px;
    fill: var(--control-elements-chart-color3);
  }
  &:active { filter: brightness(150%); }
}
