.window-rv { //TODO: Replace window-rv wrapper with @scope once it is supported
  .toolbar {
    position: absolute;
    align-items: start;
    right: 0;
    top: 0;
    width: 100%;

    &[transition="enter"] {
      .toolbar__content { translate: 0; }
      & .toolbar__opener {
        & > svg { rotate: 90deg; }
      }
      &[transition-state="enter-done"] {
        .toolbar__content-wrapper { overflow-x: unset; }
      }
    }

    &__bar {
      display: flex;
    }

    &__dialog-container {
      position: relative;
      width: 100%;
    }


    &__opener {
      background-color: var(--conrol-elements-color);
      height: 2.5rem;
      padding: 0.5rem;
      transition: translate 500ms;
      svg {
        height: 100%;
        width: auto;
        transition: rotate 500ms;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      height: 2.5rem;
      padding: 0.5rem;
      background-color: var(--conrol-elements-color);
      transition: filter 100ms ease-in-out, scale 150ms ease-in-out;
      svg {
        height: 100%;
        width: auto;
      }
      &:hover, &[transition='enter'] { filter: brightness(80%); }
      &:active { scale: 0.75 }
    }
  }

  .toolbar__content-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .toolbar__content {
    flex-grow: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    grid-auto-flow: row dense;
    align-items: center;
    translate: 100%;
    max-width: 100%;
    position: relative;
    transition: translate 800ms ease-in-out;

    .tool {
      height: 100%;
      & > .toolbar__btn:hover .tooltip-simple {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .collapsable-opener {
    cursor: pointer;
  }

  .dialog--side {
    position: absolute;
    right: 0;
    margin: 0;
    inset-inline-start: unset;
    width: 50%;
    max-height: 50vh;
    overflow-y: scroll;
    margin: 0;
    margin-top: 1rem;
    opacity: 0;
    background-color: white;
    padding: 0.5em;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    translate: 1rem 0;
    transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
    &[transition='enter'] {
      opacity: 1;
      translate: 0 0;
    }
    &.dialog--filter {
      width: min-content;
      .collapsable-wrapper, .collapsable, label { width: min-content }
      .collapsable-opener {
        span:nth-of-type(2) { white-space: nowrap }
      }
    }

    .item {
      label {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      > label + label { margin-top: 0.5em }
      input {
        margin-right: 0.5em;
      }
    }

    > .item + .item, > .item + button  { margin-top: 0.5em }
  }

  .collapsable-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
    &.expanded { grid-template-rows: 1fr; }
    .collapsable {
      overflow: hidden;
    }
  }
}
