#market-shares-chart {
  @media (max-width: 40rem) {
    .chart {
      grid-template: auto auto 1fr auto / auto 1fr;
      grid-template-areas:
            'header header'
            '. legend'
            'axis-left draw-area'
            '. axis-bottom';
    }

    .legend .items {
      flex-direction: row;
    }

    .axis-y .tick:nth-of-type(2n) {
      display: none;
    }
  }

  @media (max-width: 400px) {
    .point, .axis {
      display: none;
    }

    //.point:first-of-type, .point:last-of-type {
    //  display: block;
    //}
  }
}
