* {
  box-sizing: border-box;
}

.chart-container {
  width: 100%;
  height: 25rem;
}

body {
  background-color: floralwhite;
//max-width: 61rem;
  margin: 3rem auto 0 auto;
  padding: 0 1rem;
}

h1 {
  text-align: center;
}

.grid-article {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(min(25rem, 100%), 1fr));
  max-width: 87.5rem;
  margin: 0 auto;
  grid-gap: 0.063rem;
  background: #DADCE0;
}

.article {
  padding: 1rem;
  background: floralwhite;
//border-right: 0.063rem solid #DADCE0;
//border-bottom: 0.063rem solid #DADCE0;
}

footer {
  padding: 0 1rem 1rem;
  margin-top: 1rem;
  border-top: 0.063rem solid #DADCE0;
}

@media (min-width: 43.75rem) {
  .col-1 { width: 60% }
  .col-2 { width: 40% }
  .col-3 { width: 100%}
}

@media (min-width: 68.75rem) {
  .col-1 { width: 45% }
  .col-2 { width: 27.5% }
  .col-3 { width: 27.5%}
}

.chart {
  padding-top: 0;
}
