.window-rv {
  box-sizing: border-box;
}
.window-rv button, .window-rv input, .window-rv output, .window-rv textarea, .window-rv dialog {
  background-color: transparent;
  outline: none;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}
.window-rv button, .window-rv input, .window-rv output, .window-rv textarea {
  cursor: pointer;
}
.window-rv img, .window-rv svg {
  max-width: 100%;
  max-height: 100%;
}
.window-rv * {
  box-sizing: inherit;
}

.chart-cartesian .axis {
  display: grid;
}
.chart-cartesian .axis .title-wrapper {
  display: grid;
  grid-area: title-wrapper;
}
.chart-cartesian .axis .ticks-transform {
  grid-area: ticks;
}
.chart-cartesian .axis-left {
  grid-area: axis-left;
  grid-template-areas: "title-wrapper ticks";
}
.chart-cartesian .axis-left .title-wrapper {
  display: flex;
  align-items: flex-end;
  --fit-width: true;
  margin-left: 0.2em;
}
.chart-cartesian .axis-left .title-wrapper text {
  dominant-baseline: hanging;
}
.chart-cartesian .axis-left .ticks-transform {
  display: flex;
  justify-content: flex-end;
  margin-left: 0.5em;
}
.chart-cartesian .axis-left .ticks-transform .ticks {
  --fit-width: true;
  margin-left: 100%;
}
.chart-cartesian .axis-right {
  grid-template-areas: "ticks title subtitle";
}
.chart-cartesian .axis-left, .chart-cartesian .axis-right {
  grid-template-rows: 100%;
  grid-template-columns: auto auto auto;
  align-items: center;
}
.chart-cartesian .axis-left .title, .chart-cartesian .axis-left .subtitle, .chart-cartesian .axis-right .title, .chart-cartesian .axis-right .subtitle {
  --fit-width: true;
}
.chart-cartesian .axis-left .title text, .chart-cartesian .axis-left .subtitle text, .chart-cartesian .axis-right .title text, .chart-cartesian .axis-right .subtitle text {
  text-anchor: middle;
  transform: rotate(-90deg);
}
.chart-cartesian .axis-left .ticks-transform, .chart-cartesian .axis-right .ticks-transform {
  height: 100%;
  --fit-width: true;
}
.chart-cartesian .axis-bottom {
  grid-area: axis-bottom;
  grid-template-areas: "ticks" "title-wrapper";
}
.chart-cartesian .axis-bottom .ticks-transform {
  margin-bottom: 0.5em;
}
.chart-cartesian .axis-bottom .tick text {
  text-anchor: middle;
}
.chart-cartesian .axis-bottom .title-wrapper text {
  dominant-baseline: hanging;
}
.chart-cartesian .axis-top {
  grid-template-areas: "title" "subtitle" "ticks";
}
.chart-cartesian .axis-bottom, .chart-cartesian .axis-top {
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  justify-items: center;
}
.chart-cartesian .axis-bottom .ticks-transform, .chart-cartesian .axis-top .ticks-transform {
  width: 100%;
  --fit-height: true;
}
.chart-cartesian .axis-bottom .title, .chart-cartesian .axis-bottom .subtitle, .chart-cartesian .axis-top .title, .chart-cartesian .axis-top .subtitle {
  --fit-height: true;
}
.chart-cartesian .axis-bottom .title text, .chart-cartesian .axis-bottom .subtitle text, .chart-cartesian .axis-top .title text, .chart-cartesian .axis-top .subtitle text {
  text-anchor: middle;
}

.axis .title text {
  font-size: var(--font-size-axis-title);
}
.axis .subtitle text {
  font-size: var(--font-size-axis-subtitle);
}
.axis .ticks-transform .ticks .domain {
  stroke: currentColor;
  fill: none;
}
.axis .ticks-transform .ticks .tick line {
  stroke: currentColor;
}
.axis .ticks-transform .ticks .tick text {
  font-size: var(--font-size-axis-label);
}

.window-rv {
  display: grid;
  position: relative;
  grid-template: min-content 1fr/1fr;
  grid-template-areas: "toolbar" "chart";
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.chart {
  display: grid;
  grid-template: auto 1fr/1fr auto;
  grid-template-areas: "header header" "padding-wrapper legend";
}

.chart .header {
  grid-area: header;
  display: grid;
  grid-template: auto auto/1fr;
  grid-template-areas: "title" "subtitle";
  justify-items: center;
  padding-bottom: 1rem;
}

@media (hover: none) {
  .chart {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
}
.chart-cartesian .padding-wrapper, .chart-cartesian[data-legend-position=right] .padding-wrapper {
  display: grid;
  grid-area: padding-wrapper;
  grid-template: 1fr auto/auto 1fr;
  grid-template-areas: "axis-left draw-area" ". axis-bottom";
  overflow: visible;
}

.chart-cartesian[data-legend-position=top] {
  grid-template: auto auto 1fr/1fr;
  grid-template-areas: "header" "legend" "padding-wrapper";
}

.chart.chart-parcoord .padding-wrapper {
  display: grid;
  grid-area: padding-wrapper;
  grid-template: 1fr/1fr;
  grid-template-areas: "draw-area";
  padding: 3rem;
  overflow: hidden;
}
.chart.chart-parcoord .padding-wrapper .draw-area {
  overflow: visible;
}
.chart.chart-parcoord .axis.axis-sequence {
  position: relative;
}
.chart.chart-parcoord .axis.axis-sequence div.title-wrapper {
  position: absolute;
  bottom: 100%;
}
.chart.chart-parcoord .axis.axis-sequence div.title-wrapper .subtitle {
  translate: 0 -3px;
}
.chart.chart-parcoord .axis.axis-sequence .title-wrapper {
  --fit-height: true;
}
.chart.chart-parcoord .axis.axis-sequence .title-wrapper .title, .chart.chart-parcoord .axis.axis-sequence .title-wrapper .subtitle {
  --fit-height: true;
  --fit-width: true;
}
.chart.chart-parcoord .axis.axis-sequence .title-wrapper .title text, .chart.chart-parcoord .axis.axis-sequence .title-wrapper .subtitle text {
  text-anchor: middle;
  dominant-baseline: hanging;
}
.chart.chart-parcoord .axis.axis-sequence .ticks-transform {
  grid-area: ticks-transform;
}

.layouter {
  display: grid;
  position: relative;
}

.layouter > * {
  grid-area: 1/1;
}

.layouter > :not(.layout) {
  position: absolute;
  /* padding and margin are not ignored on root svg elements so they need to
  be set to 0 to not apply them twice (1x by layouter, 1x by browser) */
  padding: 0;
  margin: 0;
}

.layout {
  --fit-width: false;
  --fit-height: false;
  pointer-events: none;
}

.draw-area {
  display: grid;
}

.draw-area > * {
  grid-area: 1/1;
}

.draw-area .background {
  opacity: 0;
}

.window-rv .layouter {
  grid-area: chart;
}

.window-rv:hover .toolbar, .window-rv:active .toolbar {
  display: flex;
}
.window-rv .toolbar {
  grid-area: toolbar;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(239, 239, 239);
  padding: 0.5em;
}
.window-rv .toolbar > .tool + .tool {
  margin-left: 1rem;
}
.window-rv .toolbar .tool {
  height: 100%;
}
.window-rv .toolbar .disabled {
  pointer-events: none;
  opacity: 0.5;
}
.window-rv .toolbar dialog {
  left: 0;
  width: 100%;
  margin: 0;
  margin-top: 1rem;
  opacity: 0;
  background-color: white;
  padding: 0.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  translate: 0 -1rem;
  transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
}
.window-rv .toolbar dialog[transition=enter] {
  opacity: 1;
  translate: 0 0;
}
.window-rv .toolbar dialog > .item + .item {
  margin-top: 0.5em;
}
.window-rv .toolbar .dialog-opener {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.25rem;
  background-color: rgb(239, 239, 239);
  transition: filter 100ms ease-in-out;
}
.window-rv .toolbar .dialog-opener svg {
  height: 100%;
  width: auto;
}
.window-rv .toolbar .dialog-opener:hover {
  filter: brightness(80%);
}
.window-rv .toolbar .item label {
  display: flex;
  align-items: center;
}
.window-rv .toolbar .item > label + label {
  margin-top: 0.5em;
}
.window-rv .toolbar .item input {
  margin-right: 0.5em;
}
.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu > .chevron {
  font-size: 0.7em;
  margin-right: 0.5em;
}

.menu > .items {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -1px;
  right: 100%;
  border: 1px solid rgb(118, 118, 118);
  display: none;
}

.menu > .items > li {
  white-space: nowrap;
  padding: 0.5em;
  background-color: rgb(239, 239, 239);
}

.menu:hover,
.menu > .items > li:hover {
  filter: brightness(95%);
}

.menu:hover > .items {
  display: block;
  filter: brightness(105.26%);
}

.menu-tools {
  z-index: 10;
  cursor: default;
}

.menu-tools > .text {
  font-size: 1.25rem;
}

.menu-tools > .items {
  right: 0;
  top: 100%;
}

.header .title, .header .subtitle {
  --fit-width: true;
  --fit-height: true;
}
.header .title text {
  font-size: var(--font-size-title);
  letter-spacing: 0.1em;
}
.header .subtitle text {
  font-size: var(--font-size-subtitle);
}

.legend {
  grid-area: legend;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  margin: 0.5rem;
}
.legend .title {
  font-size: var(--font-size-legend-title);
  margin: 0 0.5em;
}
.legend .items .legend-item .label {
  font-size: var(--font-size-legend-label);
}

[data-legend-position=right] .legend,
.legend {
  align-self: start;
}

[data-legend-position=top] .legend {
  justify-self: end;
}

.legend .items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

[data-legend-position=left] .legend .items,
[data-legend-position=right] .legend .items,
.legend.vertical .items,
.legend .items {
  flex-direction: column;
}

[data-legend-position=top] .legend .items,
[data-legend-position=bottom] .legend .items,
.legend.horizontal .items {
  flex-direction: row;
}

.legend-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.25em;
}

.legend-item .symbol {
  margin-right: 0.5em;
  stroke: #000;
  stroke-width: 1px;
  width: 10px;
  height: 10px;
}

.highlight.legend-item .symbol {
  filter: brightness(var(--highlight-brightness));
}

[data-style=categorical-0] {
  fill: var(--color-categorical-0);
  stroke: var(--color-categorical-0);
}

[data-style=categorical-1] {
  fill: var(--color-categorical-1);
  stroke: var(--color-categorical-1);
}

[data-style=categorical-2] {
  fill: var(--color-categorical-2);
  stroke: var(--color-categorical-2);
}

[data-style=categorical-3] {
  fill: var(--color-categorical-3);
  stroke: var(--color-categorical-3);
}

[data-style=categorical-4] {
  fill: var(--color-categorical-4);
  stroke: var(--color-categorical-4);
}

[data-style=categorical-5] {
  fill: var(--color-categorical-5);
  stroke: var(--color-categorical-5);
}

[data-style=categorical-6] {
  fill: var(--color-categorical-6);
  stroke: var(--color-categorical-6);
}

[data-style=categorical-7] {
  fill: var(--color-categorical-7);
  stroke: var(--color-categorical-7);
}

[data-style=categorical-8] {
  fill: var(--color-categorical-8);
  stroke: var(--color-categorical-8);
}

[data-style=categorical-9] {
  fill: var(--color-categorical-9);
  stroke: var(--color-categorical-9);
}

.label.highlight, .legend-item.highlight {
  font-size: 1.2em;
}

.text {
  --fit-width: true;
  --fit-height: true;
}

text {
  stroke: none;
}

text[data-align-h=center] {
  text-anchor: middle;
}

text[data-align-v=center] {
  dominant-baseline: middle;
}

text[data-align-h=left] {
  text-anchor: end;
}

text[data-align-h=right] {
  text-anchor: start;
}

text[data-align-v=top] {
  dominant-baseline: auto;
}

text[data-align-v=bottom] {
  dominant-baseline: hanging;
}

text,
text[data-orientation=horizontal] {
  dominant-baseline: hanging;
  text-anchor: start;
}

text[data-orientation=vertical] {
  transform: rotate(-90deg);
  text-anchor: end;
  dominant-baseline: hanging;
}

.axis .title .text {
  grid-area: title;
}

path.line {
  fill: none;
  stroke-width: 2;
}

.highlight path.line,
path.line.highlight {
  stroke-width: 4;
}

.chart-line[data-flipped=false] .layout.series-label {
  margin-top: -1em;
}

.chart-line[data-flipped=false] .series-label .label {
  text-anchor: middle;
  dominant-baseline: auto;
}

.chart-line[data-flipped=true] .layout.series-label {
  margin-left: 1em;
}

.chart-line[data-flipped=true] .series-label .label {
  dominant-baseline: middle;
}

.window-rv, svg.chart {
  --root-size: 1rem;
  --font-size-base: calc(1 * var(--root-size));
  --font-size-title: calc(1.5 * var(--font-size-base));
  --font-size-subtitle: calc(1 * var(--font-size-base));
  --font-size-axis-title: calc(1.1 * var(--font-size-base));
  --font-size-axis-subtitle: calc(0.7 * var(--font-size-base));
  --font-size-axis-label: calc(0.7 * var(--font-size-base));
  --font-size-element-label: calc(0.7 * var(--font-size-base));
  --font-size-legend-title: calc(1.1 * var(--font-size-base));
  --font-size-legend-label: calc(0.7 * var(--font-size-base));
  --color-categorical-0: #78b4c6;
  --color-categorical-1: #1c9820;
  --color-categorical-2: #ff0087;
  --color-categorical-3: #9bb64b;
  --color-categorical-4: #628df2;
  --color-categorical-5: #0db293;
  --color-categorical-6: #f14330;
  --color-categorical-7: #b8949e;
  --color-categorical-8: #e49c4f;
  --color-categorical-9: #a665e4;
  --highlight-brightness: 130%;
}

.series-label .label {
  font-size: var(--font-size-element-label);
  pointer-events: none;
}

.bar {
  stroke-width: 1px;
  stroke: #000;
}

.highlight .bar,
.highlight.bar,
.highlight .point,
.highlight.point {
  filter: brightness(var(--highlight-brightness));
  stroke-width: 1.2;
}

.tooltip {
  opacity: 0;
  background-color: #fff;
  border: #000 solid 1px;
  border-radius: 5px;
  padding: 0.5em;
  position: fixed;
  pointer-events: none;
}

.tooltip.show {
  opacity: 1;
}

.series-point {
  overflow: hidden;
}

.point {
  stroke: #000;
  stroke-width: 1px;
}