/*TODO: Replace window-rv wrapper with @scope once it is supported*/
.window-rv {
  button, input, output, textarea, dialog {
    background-color: transparent;
    outline: none;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
  }

  button, input, output, textarea {
    cursor: pointer;
  }

  /* Ensure chrome type browsers display input number element properly by default */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    display: block;
    pointer-events: auto;
  }

  img, svg {
    max-width: 100%;
    max-height: 100%;
  }

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

#tooltip-rv {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
