/*TODO: Scope to respvis window*/

.window-rv, #tooltip-rv {
  font-size: var(--font-size-base);

  .text {
    --fit-width: true;
    --fit-height: true;
  }

  text {
    dominant-baseline: central;
    text-anchor: start;
    stroke: none;
  }
}
