.window-rv, #tooltip-rv {
  /*font-sizes*/
  --root-size: 1rem;


  --font-size-base: calc(1 * var(--root-size));
  --font-size-title: calc(1.5 * var(--font-size-base));
  --font-size-subtitle: calc(1 * var(--font-size-base));
  --font-size-axis-title: calc(1.1 * var(--font-size-base));
  --font-size-axis-subtitle: calc(0.7 * var(--font-size-base));
  --font-size-axis-label: calc(0.7 * var(--font-size-base));
  --font-size-tooltip-label: calc(1 * var(--font-size-base));
  --font-size-element-label: calc(0.7 * var(--font-size-base));
  --font-size-legend-title: calc(1.1 * var(--font-size-base));
  --font-size-legend-label: calc(0.7 * var(--font-size-base));


  /*colors*/

  --color-axes-line: #7f7c77; /*rgb(0, 0, 0, 0.5);*/
  --color-origin-line: var(--color-axes-line);
  --color-grid-line: var(--color-origin-line);
  --color-element-stroke: rgb(0, 0, 0, 0.6);
  --color-bar-stroke: var(--color-element-stroke);
  --color-point-stroke: var(--color-element-stroke);

  --color-categorical-0: #78b4c6;
  --color-categorical-1: #1c9820;
  --color-categorical-2: #ff0087;
  --color-categorical-3: #9bb64b;
  --color-categorical-4: #628df2;
  --color-categorical-5: #0db293;
  --color-categorical-6: #f14330;
  --color-categorical-7: #b8949e;
  --color-categorical-8: #e49c4f;
  --color-categorical-9: #a665e4;
  --highlight-brightness: 130%;

  --control-elements-color: rgb(239, 239, 239);
  --control-elements-chart-color1: rgb(248, 229, 121);
  --control-elements-chart-color1-20: rgb(248, 229, 121, 0.2);
  --control-elements-chart-color1-40: rgb(248, 229, 121, 0.4);
  --control-elements-chart-color2: rgb(255, 255, 255);
  --control-elements-chart-color3: var(--color-axes-line);


  /*spacings and lengths*/
  --rect-slider-breadth: 13;
  --chart-padding-left: 0;
  --chart-padding-top: 0;
  --chart-padding-right: 0;
  --chart-padding-bottom: 0;

  /*transitions*/
  --transition-time-ms: 250;
  --transition-time-line-enter-ms: var(--transition-time-ms);
  --transition-time-label-enter-ms: var(--transition-time-ms);
}
