#chart {
  width: 100%;
  height: 75vh;
  min-height: 25rem;
}

body {
  background-color: floralwhite;
}

.axis .ticks .tick {
  display: none;
}

.point {
  opacity: 0;
}

.label {
  display: none;
}

@media (max-width: 40rem) {
  .chart {
    padding: 1rem 3rem 0 3rem;
  }
  .chart .header .subtitle {
    display: none;
  }
  .axis {
    display: none !important;
  }
  .point:first-of-type,
  .point:last-of-type {
    opacity: 1;
  }
  .label:first-of-type,
  .label:last-of-type {
    display: block;
  }
}
@media (min-width: 40rem) {
  .ticks .tick:nth-of-type(2n + 1) {
    display: block;
  }
  .point {
    opacity: 1;
  }
}
@media (min-width: 80rem) {
  .axis .ticks .tick {
    display: block;
  }
}
