:root {
  //--color-categorical-0: #78b4c6;
  //--color-categorical-1: #1c9820;
  //--color-categorical-2: #ff0087;
  //--color-categorical-3: #9bb64b;
  //--color-categorical-4: #628df2;
  //--color-categorical-5: #0db293;
  //--color-categorical-6: #f14330;
  //--color-categorical-7: #b8949e;
  //--color-categorical-8: #e49c4f;
  //--color-categorical-9: #a665e4;
  //--highlight-brightness: 130%;
}

[data-style='categorical-0'] {
  fill: var(--color-categorical-0);
  stroke: var(--color-categorical-0);
}

[data-style='categorical-1'] {
  fill: var(--color-categorical-1);
  stroke: var(--color-categorical-1);
}

[data-style='categorical-2'] {
  fill: var(--color-categorical-2);
  stroke: var(--color-categorical-2);
}

[data-style='categorical-3'] {
  fill: var(--color-categorical-3);
  stroke: var(--color-categorical-3);
}

[data-style='categorical-4'] {
  fill: var(--color-categorical-4);
  stroke: var(--color-categorical-4);
}

[data-style='categorical-5'] {
  fill: var(--color-categorical-5);
  stroke: var(--color-categorical-5);
}

[data-style='categorical-6'] {
  fill: var(--color-categorical-6);
  stroke: var(--color-categorical-6);
}

[data-style='categorical-7'] {
  fill: var(--color-categorical-7);
  stroke: var(--color-categorical-7);
}

[data-style='categorical-8'] {
  fill: var(--color-categorical-8);
  stroke: var(--color-categorical-8);
}

[data-style='categorical-9'] {
  fill: var(--color-categorical-9);
  stroke: var(--color-categorical-9);
}
