path.line {
  fill: none;
  stroke-width: 2;
}

.highlight path.line,
path.line.highlight {
  stroke-width: 4;
}

.chart-line[data-flipped='false'] .layout.series-label {
  margin-top: -1em;
}

.chart-line[data-flipped='false'] .series-label .label {
  text-anchor: middle;
  dominant-baseline: auto;
}

.chart-line[data-flipped='true'] .layout.series-label {
  margin-left: 1em;
}

.chart-line[data-flipped='true'] .series-label .label {
  dominant-baseline: middle;
}

.chart.chart-parcoord {
  .line {
    stroke: var(--color-categorical-0);
  }
}
