.series-label {
  font-size: 0.7em;
  pointer-events: none;
}

.label.highlight {
  font-size: 1.2em;
}

.text {
  --fit-width: true;
  --fit-height: true;
}

text {
  stroke: none;
}

text[data-align-h='center'] {
  text-anchor: middle;
}

text[data-align-v='center'] {
  dominant-baseline: middle;
}

text[data-align-h='left'] {
  text-anchor: end;
}

text[data-align-h='right'] {
  text-anchor: start;
}

text[data-align-v='top'] {
  dominant-baseline: auto;
}

text[data-align-v='bottom'] {
  dominant-baseline: hanging;
}

text,
text[data-orientation='horizontal'] {
  dominant-baseline: hanging;
  text-anchor: start;
}

text[data-orientation='vertical'] {
  transform: rotate(-90deg);
  text-anchor: end;
  dominant-baseline: hanging;
}

.title text,
text.title {
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.title {
  grid-area: title;
}

.subtitle {
  grid-area: subtitle;
}
