.window-rv, svg.chart {
  //font-sizes
  --root-size: 1rem;


  --font-size-base: calc(1 * var(--root-size));
  --font-size-title: calc(1.5 * var(--font-size-base));
  --font-size-subtitle: calc(1 * var(--font-size-base));
  --font-size-axis-title: calc(1.1 * var(--font-size-base));
  --font-size-axis-subtitle: calc(0.7 * var(--font-size-base));
  --font-size-axis-label: calc(0.7 * var(--font-size-base));
  --font-size-element-label: calc(0.7 * var(--font-size-base));
  --font-size-legend-title: calc(1.1 * var(--font-size-base));
  --font-size-legend-label: calc(0.7 * var(--font-size-base));


  --color-categorical-0: #78b4c6;
  --color-categorical-1: #1c9820;
  --color-categorical-2: #ff0087;
  --color-categorical-3: #9bb64b;
  --color-categorical-4: #628df2;
  --color-categorical-5: #0db293;
  --color-categorical-6: #f14330;
  --color-categorical-7: #b8949e;
  --color-categorical-8: #e49c4f;
  --color-categorical-9: #a665e4;
  --highlight-brightness: 130%;

  --control-elements-color: rgb(239, 239, 239);
  --control-elements-chart-color: rgb(248, 229, 121);
  --control-elements-chart-color-40: rgb(248, 229, 121, 0.4);
}
