#chart {
  width: 100%;
  height: 75vh;
  min-height: 25rem;
  .padding-wrapper {
    padding-right: 6rem;
    padding-left: 4rem;
    //padding-right: 6rem;
  }
}

body {
  background-color: floralwhite;
}
