#chart {
  width: 100%;
  height: 75vh;
  min-height: 25rem;
  container-type: inline-size;
  .chart {
    grid-template: auto 1fr auto/1fr;
    grid-template-areas: "header" "padding-wrapper" "legend";
    --chart-padding-right: 0.8rem;
  }
  .legend {
    align-items: flex-start;
    margin-top: 2rem;
    padding-inline: 1rem;
    .legend__categories { display: none; }
    .title {
      margin: 0;
    }
  }
}

.tick {
  display: none;
}

.tick:nth-of-type(2n + 1) {
  display: block;
}

@media (min-width: 60rem) {
  .tick {
    display: block;
  }
}
